<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <title>magic</title>
  <style>
    html,
    body,
    #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
    
  </style>

  <link rel="stylesheet" href="https://js.arcgis.com/4.28/esri/themes/light/main.css" />
  <script src="https://js.arcgis.com/4.28/"></script>

  <script>
    require(["esri/Map", "esri/views/SceneView","esri/geometry/Point"], (Map, SceneView, Point) => {
      const map = new Map({
        basemap: "topo-3d",
        ground: "world-elevation"
      });

      const view = new SceneView({
        container: "viewDiv",
        map: map,
        camera: {
          position: {
            spatialReference: {
              latestWkid: 3857,
              wkid: 102100
            },
            x: -11262192.883555487,
            y: 2315246.351026253,
            z: 18161244.728082635
          },
          heading: 0,
          tilt: 0.49
        }
      });
    
      view.on("click", function(evt) {
      let Point = {
        latitude: evt.mapPoint.latitude,
        longitude: evt.mapPoint.longitude
      };
      // Отправка координат на сервер
      fetch('api/gradient/?'+ new URLSearchParams(Point), {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        }
      })
      .then(response => response.json())
      .then(data => {
        
        const htmlContent = `<table><tr ><th>Переменная</th><th>Значение</th></tr>`
          +`<tr><td style="border-top: 1px solid black" rowspan="${data.tensor.length}">Тензор</td><td  style="border-top: 1px solid black">${data.tensor[0]}</td></tr>`
          +`<tr><td>${data.tensor[1]}</td></tr>`
          +`<tr><td>${data.tensor[2]}</td></tr>`
          +`<tr><td>${data.tensor[3]}</td></tr>`
          +`<tr><td>${data.tensor[4]}</td></tr>`
          +`<tr><td>${data.tensor[5]}</td></tr>`
          +`<tr"><td style="border-top: 1px solid black" rowspan="${data.tensor.length}">Градиент</td><td  style="border-top: 1px solid black">${data.gradient[0]}</td></tr>`
          +`<tr><td>${data.gradient[1]}</td></tr>`
          +`<tr><td>${data.gradient[2]}</td></tr>`
          +"</table>";
        view.openPopup({
          location: evt.mapPoint,
          title: "Вы нажали здесь!",
          content: htmlContent
        });
        console.log(data)
      })
      .catch(error => console.error('Error:', error));
    });

      });



  </script>
 
</head>

<body>
  <div id="viewDiv"></div>
</body>
</html>


